.card-text a{
    text-decoration: none;
}
.card-footer{
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    align-items: center;
}
.card-footer i{
    cursor: pointer;
}
.img-container{
    height: 632px;
    overflow: hidden;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}